<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yeet-a-Job</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../public/css/styles.css">
</head>

<body>
  <header>
    <h1>Welcome Yeet-a-Job</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <!-- If the user is logged in, show a logout button -->
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <!-- Otherwise, show a link to login -->
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <div class=>
      {{{body}}}
    </div>
  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if loggedIn}}
  <script></script>
  {{/if}}
</body>

</html>