{{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each posts as |post|}}
{{/each}}
  </section>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a class="redirect--link" href="/login">You must login to see listings</a>
{{/if}}