<div>
   <form class="newPost">
       <div>
           <input class="form-control" id="#postTitle" type="text" placeholder="Job or Project Title">
           <input class="form-control" id="requiredSkills" type="text" placeholder="Required skills">
           <input class="form-control" id="recSalary" type="text" placeholder="Salary">
       </div>   
        <div class="form-group">
            <label for="jobDescription">Job Description</label>
            <textarea class="form-control" id="jobDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="employerEmail">Email address</label>
            <input type="email" class="form-control" id="employerEmail" placeholder="name@example.com">
        </div>
            <button type="submit" class="btn btn-primary">Create</button>
        <div class="delete--button">
            <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
        </div>    
    </form>
</div>
<script src="/lib/js/posts.js"></script>