<div>
    <form class="newPost">
           <div>
               <input class="form-control form-control-lg" id="#postTitle" type="text" placeholder="Job or Project Title">
               <input class="form-control form-control-lg" id="requiredSkills" type="text" placeholder="Required skills">
               <input class="form-control form-control-lg" id="recSalary" type="text" placeholder="Salary">
           </div>
            <div class="form-group">
                <label for="jobDescription" class="label--newpost">Job Description</label>
                <textarea class="form-control" id="jobDescription" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label class="label--newpost" for="employerEmail">Email address</label>
                <input type="email" class="form-control" id="employerEmail" placeholder="name@example.com">
            </div>
            <div class="btn__container">
                <button type="submit" class="btn btn-primary">Create</button>
                <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
                <!--testing here-->
            </div>    
    </form>
    <script src="/lib/js/posts.js"></script>
</div>