<div>
   <form>
       <div>
           <input class="form-control" id="" type="text" placeholder="Job or Project Title">
           <input class="form-control" id="" type="text" placeholder="Required skills">
           <input class="form-control" id="" type="text" placeholder="Salary">
       </div>   
        <div class="form-group">
            <label for="jobDescription">Job Description</label>
            <textarea class="form-control" id="jobDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="employerEmail">Email address</label>
            <input type="email" class="form-control" id="employerEmail" placeholder="name@example.com">
        </div>
    </form>
</div>