<div class="row">
  <div class="col-auto">
      <a href="/listings">Listings</a>
      <a href="/posts">Post a Job Listing</a>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<p>I am proficient in: {{skills}}</p>

<p>Contact info: {{email}}</p>

<script src="./lib/profile.js"></script>