<div class="div--profile">
  <div class="link__container">
      <a class="link__profile" href="/listings">Listings</a>
      <a class="link__profile" href="/posts">Post a Job Listing</a>
  </div>
    <h2 class="h2--profile">Welcome, {{name}}!</h2>
    <p class="p--profile">Contact info: {{email}}</p>
</div>

<script src="./lib/profile.js"></script>